.main{
    height: 300px;
}
.main-l{
    width: 213px;
    height: 300px;
    float: left;
    border:1px solid #019c08;
    margin-top: -1px;
    background-color: #ffffff;
}
.main-l-t{
    margin-top: 10px;
    height: 300px;
}
.main-l-t li{
    width: 190px;
    font-size: 14px;
    height: 32px;
    padding-left: 23px;
    line-height: 35px;
    float: left;
}
.main-l-t li:hover{
    color: #FFFFFF;
    background:rgba(1, 156, 8, 0.7);
}
.main-l-t li:hover span{
    color:#fff;
}
.main-l-t a{
    display: inline-block;
    width: 200px;
    color: #666;
}
.main-l-t a:hover{
    color: #FFFFFF;
}

.main-l-t span{
    float: right;
    margin-right:20px ;
    color: #969696;
}
.main-c{
    height: 300px;
    float: left;
    width: 650px;
    margin-left: 10px;
}
.main-r{
    float: right;
    width: 315px;
    background-color: #FFFFFF;
    height: 300px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
.main-r-t{
    height: 36px;
    width: 300px;
    line-height: 36px;
}
.main-r-t h3{
    padding:10px 0 0px 20px;
    float: left;
}
.main-r-t span{
    padding:10px 0 0px 20px;
    float: right;
    font-size: 12px;
}
.main-r-t a{
    display: inline-block;
    font-size: 14px;
    color: #666;
}
}
.main-r-t a:hover{
    color: #019c08;
}
.main-r-n{
    width: 100%;
    height: 245px;
    margin-top: 14px;
}
.main-r-n ul{
    margin: 18px 20px;
}

.main-r-n a{
    font-size: 14px;
    color: #666;
    display: inline-block;
    height: 30px;
    line-height: 30px;
}
.main-r-n a:hover{
    color: #019c08;
}

.pin-t{
    margin-top: 30px;
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #019c08;
}
.pin-l h2{
    font-size: 18px;
    color: #666;
}
.pin-r li{
    float: left;
}

.pin-r a{
    display: inline-block;
    font-size: 14px;
    height: 38px;
    line-height: 38px;
    color: #666;
    padding:0 10px;
}
.pin-r a:hover{
    background-color: #44b549;
    color: #ffffff;
}
.fenlei{
    height: 302px;
    background-color: #ffffff;
}
.fenlei-t{
    width: 239px;
    height: 300px;
    border: 1px solid #ccc;
    float: left;
    margin-left: -1px;
    position: relative;
}
.fenlei-t:hover {
    border: 1px solid #44b549;
    /*position: relative; 相对定位比标准流高一级 浮在上面的*/
    z-index: 1;

}
.fenlei-t img{
    width:199px;
    height: 199px;
    margin: 20px 20px 10px 20px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}
.fenlei-t h3{
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-bottom: 5px;
}
.fenlei-t p{
    text-align: center;
    font-size: 14px;
    color: #666;
    padding-bottom: 5px;
}
.fenlei-t span{
    color: red;
    font-size: 18px;
}
.ad{
    margin: 10px auto;
}
.ad img{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    width: 1200px;
    height: 90px;
}
.news{
    height: 460px;
}
.news-l{
    width: 393px;
    height:450px;
    float: left;
    background-color: #ffffff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
.news-c{
    width: 400px;
    height:450px;
    float: left;
    border: 1px solid red;
    margin-left: 10px;
}
.news-r{
    width: 370px;
    height: 450px;
    float: right;
    border: 1px solid red;
}
.news-l-t{
    height: 30px;
    line-height: 30px;
    padding: 10px 15px 2px 15px;
    border-bottom: 1px solid #f3f3f3;
}
.news-l-t h2{
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    display: inline-block;
    float: left;
}
.news-l-t span{
    float: right;
}
.news-l-t span a{
    border: none;
    display: inline-block;
    border: 1px solid #019c08;
    border-radius: 4px;
    padding: 0 10px;

}
.news-l-t span a:hover{
    background-color: #019c08;
    color: #ffffff;
}
.news-l-t a{
    display: inline-block;
    color: #019c08;
    height: 30px;
    line-height: 30px;
    border-bottom: 2px solid #019c08;
}
.news-l-b ul{
    padding: 10px 15px 2px 15px;
    margin-top: 20px;
}
.news-l-b span{
    float: right;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: #666;
    font-size: 14px;
    background: url("../images/time_time.png") no-repeat 0 ;
    padding-left: 24px;
}
.news-l-b a{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: #666;
    font-size: 14px;
}
.flinks{
    color: #666;
    font-size: 14px;
    text-align: center;
}
.flinks a{
    color: #9e9e9e;
    font-size: 14px;
    display: inline-block;
    padding:5px;
}
