.side_class4 {
    margin-top: 40px;
    padding: 0px;
}

.side_class4 li {
    border-bottom: 1px solid #f9f9f9;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.side_class4 li img {
    width: 159px;
    height: 120px;
}
.side_class4 li .rtext {
    width: 620px;
    height: 120px;
    float: right;
    position: relative;
}
.side_class4 li .rtext .side3_redu {
    font-size: 12px;
    color: #999;
    background: url(../images/eye.png)0px 0px no-repeat;
    padding-left: 22px;
    line-height: 14px;
    position: absolute;
    bottom: 0px;
}
.side_class4 li .limg {
    width: 159px;
    height: 120px;
    float: left;
}
.side_class4 li .rtext .side3_title a {
    color: #666;
    font-size: 16px;
    font-weight:bold;
}
.side_class4 li .rtext .side3_title a:hover{
    color: #44b549;
}
.side_class4 li .rtext .side2_title{
    margin-top: 10px;
}
.side_class4 li .rtext .side2_title a {
    color: #666;
    font-size: 14px;
    font-weight: normal;
    padding-top: 10px;
}
.pagination {
    border-right: none;
    border-bottom: none;
    font-size: 0;
    height: 30px;
    margin-top: 50px;
    text-align: center;

}
.pagination .pagination-curr, .pagination a:hover {
    border-color: #47b751;
    background: #47b751;
    color: #fff;
    text-decoration: none;
}
.pagination .pagination-curr, .pagination a {
    margin: 0 4px;
    padding: 7px 12px;
    border: 1px solid #e5e5e5;
    font-size: 12px;
    color: #666;
    background: #f5f5f5;
}
.pagination span {
    padding: 0 6px;
    font-size: 12px;
    color: #666;
}
.pagination .pagination-curr, .pagination a:hover {
    border-color: #47b751;
    background: #47b751;
    color: #fff;
    text-decoration: none;
}