.header{
	width:100%;
	min-height:35px;
	position:relative;
	z-index:3;
	background-color: #0072c6;
}
.container-fluid .nav-header{
	float:left;
}
.container-fluid .nav-header > a{
	color:#fff;
	line-height:33px;
	font-size:15px;
	margin:0 8px;
}
.container-fluid .nav-header a.nav-company{
	margin-left:-8px;
}
.nav-right{
	margin-right:-8px;
	float:right !important;
}
.nav-right .nav-list{
	list-style:none;
	float:left;
	margin:0px;
	padding:0px;
}
.nav-right .nav-list > li{
	padding:0px;
	float:left;
	margin-right:15px;
}
.nav-right .nav-list > li > a{
	color:#fff;
	line-height:20px;
	padding:0px;
	text-decoration:none;
	background-color:#0072c6;
}
.nav-right .nav-list > li > a > img{
	height: 28px;
	margin-top: 4px;
	padding: 1px;
	background-color: #fff;
}
.nav-right .nav-list > li.nav-user a{
	padding-bottom: 8px;
	padding-top: 7px;
}
.nav-right .nav-list > .open > a{
	background-color:#0072c6;
}
.nav-right .nav-list > li> a:hover{
	background-color: transparent;
	color: #cdddeb;
}
.nav-right .nav-list > li.nav-user .dropdown-menu {
    right: 0;
    left: auto;
    margin:0px;
}
.nav-right .nav-list .logout a{
	padding-bottom: 8px;
	padding-top: 7px;
	margin-right:10px;
}



