*{
	padding:0px;
	margin:0px;
}
body{
	font-size:12px;
}
ul{
	list-style: none;
	padding:0px;
	margin:0px;
}
a{
	text-decoration: none;
}
#container{
	margin:0 auto;
	padding:35px 0 25px 0;
	position:absolute;
	bottom:0;
	height:100%;
	left:0;
	max-height: 100%;
	overflow: hidden;
	right:0;
	top:0;
}
#sidebar{
	height:100%;
	width:160px;
	float:left;
	position:relative;
}
nav.sidebar{
	height: 100%;
	overflow: hidden;
	background-color: #f5f6fa;
}
.sidebar-header{
	background-color: #f5f6fa;
	border-bottom:1px solid #cfdbe2;
	border-right:1px solid #cfdbe2;
	font-size:14px;
	height:32px;
	line-height:23px;
	padding:3px 15px;
}
.sidebar-headering{
	font-weight:500;
	color: inherit;
}
nav.sidebar .menuItems{
	height:100%;
	overflow-y:auto;
}
ul.menuItems > li > a{
	display:block;
	color:#515253;
	font-weight:normal;
	font-size:12px;
	line-height:34px;
	padding:0 0 0 15px;
	background-color:#EAEDF1;
	position: relative;
	text-decoration: none;
	border-top:1px solid #e1e6eb;
}
ul.menuItems > li > a > .glyphicon{
	margin-right: 5px;
	font-size: 13px;
}
ul.menuItems > li > a > .toggle-icon{
	font-size: 14px;
	position: absolute;
	right: 6px;
	text-shadow: none;
	top: 10px;
	width: 10px;
}
ul.menuItems > li ul.side-ul-menu{
	
}
ul.menuItems > li ul.side-ul-menu > li{
	border-left:3px solid transparent;
}
ul.menuItems > li ul.side-ul-menu > li > a{
	display:block;
	color:#515253;
	font-weight:normal;
	font-size:12px;
	line-height:30px;
	padding:0 0 0 15px;
	text-decoration: none;
}
ul.menuItems > li ul.side-ul-menu > li > a:hover {
	color: #23b7e5;
	background-color: #ffffff;
	text-decoration: none;
}
ul.menuItems > li > ul.side-ul-menu > li.active {

	background-color: #ffffff;
	color: #23b7e5;
	border-color: #23b7e5;
}